h1 {
  text-align: center;
  font-family: 'Nova Flat', cursive;
  text-shadow: 50px 50px 20px gray;
  font-size: 800%;
  border: 5px solid white;
}
body {
  font-family: 'Work Sans', sans-serif;
}
p {
  font-family: 'Work Sans', sans-serif;
}
#bg {
  background: white;    
  background: -webkit-linear-gradient(right, cyan, white, white, white, cyan);
  background: -o-linear-gradient(right, cyan, white, white, white, cyan); 
  background: -moz-linear-gradient(right, cyan, white, white, white, cyan);
  background: linear-gradient(to right, cyan, white, white, white, cyan); 
}
.greenbox {
  border: 8px solid green;
  background-color: lightgreen;
  padding: 15px 15px 15px 15px;
  margin: 30px 20px 20px 20px;
  text-align: center;
  align-items: center;
  width: 70px;
  height: 30px;
}
