/* Here we go */

$offset : -20px;
$count : 40;
$duration : 5;

h1 {
  text-align: center;
  font-family: 'Nova Flat', cursive;
  text-shadow: 50px 50px 20px gray;
  font-size: 800%;
}
body {
  font-family: 'Work Sans', sans-serif;
}
p {
  font-family: 'Work Sans', sans-serif;
}
html {
  background: white;    
  background: -webkit-linear-gradient(right, cyan, white, white, white, cyan);
  background: -o-linear-gradient(right, cyan, white, white, white, cyan); 
  background: -moz-linear-gradient(right, cyan, white, white, white, cyan);
  background: linear-gradient(to right, cyan, white, white, white, cyan) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.center {
  text-align: center;
  width: auto;
}
.greenbox {
  border: 2px solid green;
  background-color: lightgreen;
  padding: 15px 15px 15px 15px;
  text-align: center;
  margin: 20px;
  align-items: center;
  width: 80px;
  height: 20px;
  font-family: 'Work Sans', sans-serif;
  box-shadow: 6px 6px 5px grey;
  display: inline-block;
  vertical-align: middle;
}
.nomargin {
  padding: 0px;
  margin: 0px;
}
.fbmresize {
  width:200px;
  height:200px;
}
@font-face {
  font-family: "Temphis Brick";
  src: url("Temphis_Brick.ttf");
}
@font-face {
  font-family: "Zelda";
  src: url("botw_sheikah_font_by_sarinilli-db1w0vx.ttf");
}
.runes {
  font-family: "Temphis Brick";
  font-size: 900%;
  animation-duration: 5s;
  animation-name: wave;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@for $i from 0 to $count {
  .wavetext :nth-child( #{$count}n + #{$i} ) {
      animation-delay : 
        -#{($count - $i) * 2 * $duration / $count }s;


      color: white;
  }
}
